:root {
  --bg-hero-section: #e9f2ff;

  --btn-outline: #405ff2;
  --btn-primary: #ffffff;

  --features-bg-primary: #e9f2ff;
  --features-bg-secondary: #ffe9f3;

  --btn-secondary: #050b20;

  --input-outline: #e9e9e9;

  --car-description-text: #808080;
}
